<form class="ui inverted stacked segment form" action="/booklist/{{booklist.id}}/addbookmark" method="POST">
  <div class="two fields">
    <div class="field">
      <label> Link </label>
      <input placeholder="Link" type="text" name="link">
    </div>
    <div class="field">
      <label> Website </label>
      <input placeholder="Website" type="text" name="website">
    </div>
  </div>
  <button class="ui green submit button"> Add Bookmark </button>
</form>

