<form class="ui inverted stacked segment form" action="/bookmarks/addbooklist" method="POST">
  <div class="field">
    <label>Title</label>
    <input placeholder="Title" type="text" name="title">
  </div>
  <button class="ui green submit button">Add Booklist</button>
</form>
