{{> menu id="about"}}

<section class="ui inverted center aligned middle aligned segment">
  <h3>
    Your very own Bookmark Manager!
  </h3>
  <p>
    This app, allows you to manage and maintain your very own collection of bookmarks in just a few simple steps.
  <hr>
  
  <section class="ui left aligned middle aligned container">
    <section class="ui inverted two column grid segment">
      <div class="grid">
        <br>
        <h4>
          Contact Details:
        </h4>
        <hr>
        <div class="ui inverted segment">
          <div class="ui inverted relaxed divided list">
            <div class="item">
              <div class="content">
                <div class="header"><i class="address book icon"></i> Name: </div>
                Luiza M Goncalves
              </div>
            </div>
            <div class="item">
              <div class="content">
                <div class="header"><i class="location arrow icon"></i> Address: </div>
                4889 Paulista, Campinas, Brazil. 
              </div>
            </div>
            <div class="item">
              <div class="content">
                <div class="header"><i class="volume control phone icon"></i> Telephone: </div>
                814-358-3323
              </div>
            </div>
            <div class="item">
              <div class="content">
                <div class="header"><i class="mail square icon"></i> Email: </div>
                lmgoncalves@outlook.com
              </div>
            </div>
            <div class="item">
              <div class="content">
                <div class="header"><i class="marker icon"></i> Zip Code: </div>
                53437-070
              </div>
            </div>
          </div>
        </div>
        <br>
      </div>
      <div class="grid">
        <img src="https://cdn.gomix.com/c15fa4b2-c9b9-4a77-8d33-d6cc34720672%2Fgoogle-maps-transito-campinas.jpg">
    </section>
  </section>
</section>
<section class="ui inverted center aligned middle aligned segment">
  <section class="ui left aligned middle aligned segment">
          <div class="ui comments">
      <div class="comment">
        <div class="content">
          <a class="author">Joe Henderson</a>
          <div class="metadata">
            <div class="date">1 day ago</div>
          </div>
          <div class="text">
            <p>The app is great, simple to use and does the job well. </p>
            <p>Could possibly have few more features, but nonetheless its nice.</p>
          </div>
          <div class="actions">
            <a class="reply">Reply</a>
          </div>
        </div>
      </div>
      <div class="comment">
        <div class="content">
          <a class="author">Christian Rocha</a>
          <div class="metadata">
            <div class="date">2 days ago</div>
          </div>
          <div class="text">
            I shared this.
          </div>
          <div class="actions">
            <a class="reply">Reply</a>
          </div>
        </div>
      </div>
      <form class="ui reply form">
        <div class="field">
          <textarea></textarea>
        </div>
        <div class="ui primary submit labeled icon button">
          <i class="icon edit"></i> Add Comment
        </div>
      </form>
    </div>
  </section>
</section>
