{{> menu id="bookmarks"}}

<section class="ui inverted segment">
  <div class="ui orange message">
    <div class="header">
      Notice: Please Acknowledge
    </div>
    <p> Please do not delete any Bookmarks/Booklists which are already in store, unless added by yourself of course. Thank you! </p>
  </div>
  {{> listbooklists}}
  {{> addbooklist}}
</section>
